<section>
  <div *ngIf="!(isLoading$ | async) || (books$ | async)?.length !== 0; else loadingState">
    <div *ngIf="(books$ | async)?.length !== 0; else zeroState" class="book-list-container">
      <div class="search-container">
        <label>
          <input type="text" placeholder="Search Books" [ngModel]="searchBook" (ngModelChange)='searchChange($event)'>
        </label>
      </div>
      <app-book *ngFor="let book of books$ | async | search: searchBook"
                [book]="book"
                (removeBook)="handleRemoveBook($event)"
                (editBook)="handleEditBook($event)"
      ></app-book>
    </div>
  </div>

  <app-floating-button (handleClick)="addBook()"></app-floating-button>

  <ng-template #zeroState>
    <div class="center-align-message">No Books Found. Start adding books...</div>
  </ng-template>

  <ng-template #loadingState>
    <div class="center-align-message">Loading. Please wait...</div>
  </ng-template>

</section>
