<div class="book">
  <div class="book-image-holder">
    <img [src]="book.url"
         alt="some name" class="book-image" />
  </div>
  <div class="book-details">
    <div>
      <p class="book-details__name">{{ book.name }}</p>
      <p class="book-details__author">By {{ book.author }}</p>
    </div>
    <p class="book-details__count">Count: {{ book.count }}</p>
  </div>
  <div class="book-description">
    <p>{{ book.description }}</p>
  </div>
  <div class="book-actions">
    <button (click)="editBook.emit(book.id)" class="book-actions__edit" >
      <img src="/assets/images/edit.png" alt="Edit book" />
    </button>
    <button (click)="removeBook.emit(book.id)" class="book-actions__remove" >
      <img src="/assets/images/remove.png" alt="Remove book" />
    </button>
  </div>
</div>
