input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &[disabled] {
    opacity: 0.6;
    cursor: default;
  }
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 100vh;
}

#description {
  height:200px;
}

.error {
  color: red;
  font-style: italic;
  margin-bottom: 16px;
}

.message {
  margin-top: 8px;
  font-style: italic;
  font-weight: bold;
}
