<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    margin: 61px auto 32px;
  }

</style>

<app-header></app-header>

<div class="content" role="main">
  <app-loader *ngIf="isLoading"></app-loader>
  <router-outlet></router-outlet>

  <div>
    <button (click)="getBooks()">Get Books</button>
    <button (click)="addBook()">Add Book</button>
    <button (click)="editBook()">Edit Book</button>
    <button (click)="deleteBook()">Delete Book</button>
  </div>
</div>
